section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 60px;
}

section:first-child {
	align-items: stretch; /* Default. */
}

section:nth-child(2) {
	align-items: start;
}

section:nth-child(3) {
	align-items: center;
}

section:last-child {
	align-items: end;
}
