div {
	background-color: aquamarine;
}

@media (min-width: 400px) and (max-width: 500px) {
	div:first-child {
		background-color: orange;
	}
}

@media (min-width: 400px) and (min-height: 300px) {
	div:last-child {
		background-color: gold;
	}
}
