/* Previous styles in other file. */

a {
	text-decoration: underline;
	background-color: gold;
}

div:nth-child(2) a {
	display: block;
	text-decoration: none;
	margin-bottom: 10px;
	padding: 10px;
}
