/* Previous styles in other file. */

div:nth-child(3) {
	background-color: gold;
	width: 66%;
	top: 30px;
	left: 30px;
	position: sticky;
}

div:nth-child(even) {
	position: relative;
	z-index: 1;
}
