div {
	background-color: aquamarine;
}

@media (min-height: 400px) {
	div:first-child {
		background-color: gold;
	}
}

@media (height: 400px) {
	div:nth-child(2) {
		background-color: orange;
	}
}

@media (max-height: 400px) {
	div:last-child {
		background-color: coral;
	}
}
