/* Setup styles in the other file. */

section {
	display: flex;
}

section:nth-child(2) div {
	flex-grow: 1;
}

section:nth-child(3) div:first-child {
	flex-grow: 1;
	background-color: hotpink;
}

section:nth-child(4) div:nth-child(1) {
	flex-grow: 1;
	background-color: hotpink;
}

section:nth-child(4) div:nth-child(2) {
	flex-grow: 2;
	background-color: crimson;
}

section:nth-child(5) div {
	width: 50%;
}

section:nth-child(5) div:first-child {
	background-color: lightsalmon;
	flex-shrink: 0;
}

