main {
	align-items: stretch;
	background-color: var(--background);
	border-radius: var(--radius);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	justify-items: stretch;
	overflow: hidden;
}

main > section {
	display: flex;
	flex-direction: column;
	font-family: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
	font-size: 85%;
}

section > div {
	position: relative;
}

div > ul {
	background-color: var(--background);
	display: flex;
	flex-shrink: 0;
	gap: var(--spacing);
	left: 0;
	max-width: 100%;
	overflow-y: scroll;
	padding: var(--spacing);
	position: sticky;
	top: 0;
}

div > ul::-webkit-scrollbar {
	display: none;
}

div > ul > li,
div > section > button {
	cursor: pointer;
	margin: calc(-1 * var(--spacing) / 2);
	padding: calc(var(--spacing) / 2);
}


div > ul > li:not(.visible) {
	opacity: 0.25;
}

div > ul > li:last-child {
	margin-right: calc(var(--spacing) * 3);
}

div > section {
	background: gold;
	background: linear-gradient(to right, rgba(var(--background--rgb),0), rgba(var(--background--rgb),1) var(--spacing));
	bottom: 0;
	padding: var(--spacing);
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;

	padding-left: calc(var(--spacing) * 1.5);
}

div > section > button {
	transform: translateY(-5px);
	pointer-events: auto;
}

section > div:last-child {
	height: 100%;
	overflow: scroll;
	width: 100%;
}

section > div:last-child > div:not(.visible) {
	display: none;
}

section > div:last-child::-webkit-scrollbar {
	display: none;
}

figure {
	display: flex;
	max-height: 100%;
	position: absolute;
	width: 100%;
}

pre {
	line-height: 1.5;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	tab-size: 2;
	white-space: pre;
}

code {
	padding-bottom: var(--spacing);
}

iframe {
	background-color: white;
	border-color: var(--background);
	border-style: solid;
	border-width: var(--radius);

	border-top-width: 0px;
}



@media (min-width: 568px) {
	main {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: initial;
	}

	iframe {
		border-left-width: 0px;
		border-top-width: var(--radius);
	}
}
