:root{
	--background: rgb(247, 246, 243);
	--spacing: 20px;
	--radius:  3px;
}

html,
body,
main {
	height: 100%;
	width: 100%;
}

body {
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Helvetica, "Apple Color Emoji", sans-serif;
}



h1,
body > ul {
	font-weight: bold;
	margin: var(--spacing);
}

ul a {
	color: dodgerblue;
}
