:root{
	--background: #eee;
}

html,
body,
main {
	height: 100%;
	width: 100%;
}

body {
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Helvetica, "Apple Color Emoji", sans-serif;
}



h1,
ul {
	font-weight: bold;
	margin: 24px;
}

ul a {
	color: dodgerblue;
}



main {
	align-items: stretch;
	background-color: var(--background);
	border-color: var(--background);
	border-style: solid;
	border-width: 4px;
	display: grid;
	gap: 4px;
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
}

figure {
	padding: 20px;
}

iframe {
	background-color: white;
	border: initial;
}
