---
layout: default
---

<main>
	<section>
		{% if page.order %}
			{% assign files = page.order %}
		{% else %}
			{% assign files = site.static_files | where_exp: "file", "file.path contains page.dir" | where_exp: "file", "file.extname != '.md'" | map: 'name' %}
		{% endif %}
		<div>
			<ul id="files">
				{% for file in files %}
					<li {% if forloop.first %} class="visible" {% endif %}>{{ file }}</li>
				{% endfor %}
			</ul>
			<section>
				<button id="copy">📋</button>
			</section>
		</div>
		<div id="source">
			{% for file in files %}
				<div {% if forloop.first %} class="visible" {% endif %}>
					{% if file contains ".css" %}
						{% highlight css %}
							{%- include_relative {{ file }} -%}
						{% endhighlight %}
					{% elsif file contains ".html" %}
						{% highlight html %}
							{%- include_relative {{ file }} -%}
						{% endhighlight %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
	<iframe src="index.html"></iframe>
</main>


