section {
	display: grid;
}

section:first-child {
	grid-template-columns: 3fr 1fr;
}

section:nth-child(2),
section:nth-child(3) {
	grid-template-rows: 3fr 1fr;
}

section:nth-child(3) {
	grid-auto-flow: column;
}

section:last-child {
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr 1fr;
}
